{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Hello, world! <em class="loading" data-emoji="beetle"></em></h1>
    <div class="ui divider"></div>
    <h2>Users</h2>
    <div class="ui bulleted list">
        <div class="item">
            This table is built using DataTables which fetches its data from the
            'api/users' endpoint.
        </div>
        <div class="item">
            Furthermore, a websocket in the JavaScript for this page is set up
            to refresh the API call and table whenever the host registers a
            change to the User table.
        </div>
    </div>
    <table id="users-example" class="ui celled table" style="width:100%">
        <thead>
        <tr>
            <th>id</th>
            <th>last_login</th>
            <th>is_superuser</th>
            <th>username</th>
            <th>first_name</th>
            <th>last_name</th>
            <th>email</th>
            <th>is_staff</th>
            <th>is_active</th>
            <th>date_joined</th>
            <th>groups</th>
            <th>user_permissions</th>
        </tr>
        </thead>
    </table>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}